@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

/* body {
    background-image: linear-gradient(red, blue);
} */

.container-centered {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 4px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.header-wrapper {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    /* background-color:rgba(31, 255, 1, 0.9); */
    /* background-image: radial-gradient(#a8d0f0, hsl(0, 0%, 100%)); */
    background-image: radial-gradient(#ff9634aa,#f87800);
    border-radius: 4px;
    width: 96%;
    margin: 10px auto 0 auto;
    /* margin-left: auto;
    margin-right: auto; */

}

#avatar {
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.name {
    color: white;
    text-shadow: 1px 2px 1px rgba(0,0,0,1);
}

.name , .possition , .contacts-h2{
    position: relative;
    left:40px;
}

.contacts-h2 {
    background-color:rgba(0, 191, 255, 0.7);
    width: 564px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.title {
    padding-left: 30px;
}

.icons-contacts {
    position: relative;
    margin: 10px 7px 0 0;
    bottom: -9px;
    display: inline-block;
}

.text-contacts {
    display:inline;
    line-height: 100%;
    
}

main {
    padding: 20px;
    border-radius: 4px;
    width: 90%;
    margin: 10px auto 0 auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color:lightcyan;
}

footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.github {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#footer_p {
    width: 143px;
    padding-left: 10px;
    padding-top: 5px;
}

.github:hover {
    /* background-color: chartreuse; */
    scale: 120%;
    cursor: pointer;
}

.rsschool:hover {
    /* background-color: chartreuse; */
    scale: 120%;
    cursor: pointer;
}

